@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/*Reset Initial Style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f4f0ec;
    font-family: "Source Sans Pro", sans-serif;
}

input{
    outline: 0;
}
a{
    text-decoration: none;
}

/******* Navbar ******/

.main-header{
    height: 52px;
    position: fixed;
    background: white;
    width:100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.inner-main-div{
    width: auto;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}
.main-header > div > div{
    display: flex;
    align-items: center;
    width: 100;
}

#mainlogo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    
}
.nav-left{
    margin-top: 5px;
    float: left;
}
.inner-main-div > div input{
    font-weight: bold;
    background: #e1e9ee;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    width: 270px;
    flex: 1;
    color: #F9F9F9;
    padding-left: 10px;
}
.main-header > div > div div {
    display: flex;
    flex: 1;
    max-width: 280px;
    position: relative;
}
#search-icon{
    position: absolute;
    left: -530px;
    top: 18px;
    font-size: 13.5px;
    color: black;
}

.nav-right{
    float: right;
    
}

.nav-right > ul{
    display: flex;
    align-items: flex-end;
}
.nav-right > ul > li{
    
    display: inline-block;
    height: 50px;
}
.nav-item-text{
    font-size: 12px;
    color: gray;
}
.nav-right >ul > li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 80px;
    height: 100%;
    color: gray;
    font-size: 22px;
    padding-bottom: 2px;
    cursor: pointer;
}
#home{
    position: relative;
    font-size: 22px;
    color: black;
    border-bottom: 2px solid black;
}
.nav-me{
    left: -10px;
    border-right: 1px solid #DCDCDC;
}
.me-navbar{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1px solid #e1e9ee;
}
.fa-calendar-alt{
    font-size: 26px;
}
  

.premium{
    width: 100px;
    font-size: 13px;
    text-align: center;
    margin-top: -20px;
    color: darkgoldenrod;
}
#premium{
    margin-top: -5px;
}  


/******* Left side  *******/


.main-container{
    margin: 0 auto;
    width: 75%;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.left-side-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left-inner-main-div{
    height: 100vh;
    width: 18%;
    margin-right: 940px;
    margin-top: 90px;
}
.left-inner-main-div > div{
    background: #fff;
    border-radius: 5px;
}

/***   left side Profile Card  ****/

#profile-card{
    height: 335px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
#profile-background{
    height: 55px;
    background: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-info{
    height: 160px;
    background: transparent;
    padding: 12px 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin: -49px auto 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-info img{
    widows: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
        0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin-bottom: 18px;
    cursor: pointer;
}
.profile-info strong{
    font-size: 18px;
    margin-bottom: px;
    cursor: pointer;
}
.profile-info small{
    font-size: 13px;
    color: color: rgba(0, 0, 0, 0.6);
}
.profile-links{
    font-size: 14px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.profile-links a{
    display: flex;
    justify-content: space-between;
    padding: 3px 12px;
}
.profile-links a span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: bold;
}
.profile-links a span.profile-view-number{
    color: #0073b1;
}
.card-access-text{
    font-size: 13px;
    color:  rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}


/**** left side profile groups*****/
#profile-groups{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}


#profile-groups a{
    display: flex;
    justify-content: space-between;
    padding: 2px 12px;
    border-radius: 10px;
}
#profile-groups a span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    font-weight: 500;
    flex: auto;
    margin-left: 10px;
}


/***** middler section******/

#main-middle-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 52%; 
    margin-top: -755px;
    margin-left: -70px;
}

.inner-middle-main{
    grid-area: main-section;
    margin: 0 25;
    width: 100%;
}

/*** middle share box ***/
#share-box{
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 120px;
    background: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.share-top-div{
    display: flex;
    height: 60%;
}
.share-me{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.share-input{
    height: 50px;
    width: 85%;
    margin-left: 20px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.share-bottom-div{
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.share-bottom-div a{
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}
.share-bottom-div a i{
    font-size: 22px;
    padding: 5px;
}

/**** Tanay Post ****/

.tanay-post{
    padding: 5px;
    height: 600px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.post-top-div{
    padding: 10px;
    height: 80px;
    display: flex;
/*    background-color: red;*/
}
.post-top-div > div > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.post-top-div .tanay-info{
    margin-left: 10px;
}
.post-top-div .tanay-info strong{
    
}
.post-top-div .tanay-info small{
    color: rgba(0, 0, 0, 0.6);
    display: flex; 
}
.fa-ellipsis-h{
   color: rgba(0, 0, 0, 0.6);
   margin-left: 220px;
}
.post-text{
    font-family: Sans-Serif;
}



































    